.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
    background-color: #084d6e; 
    margin-top: 60px;


}
/* teste */

*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    
    color: #fce903;
    margin-top: 40px;
    text-align: center;
}

*mall{
    color: #ffffff;
}
